* {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  position: absolute;
  top: 0;
  left: 50px;
}

.main-container {
  display: flex;
  position: relative;
  /* margin: 60px 189px 60px 189px; */
  margin: 60px 0;
  margin-left: 50px;
}

.section-1 {
  border: 5px solid transparent;
  padding: 30px;
  justify-content: center;
}

.section-1 h2 {
  font-size: 3rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
.section-1 p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 20px 0 0;
  font-family: Raleway, sans-serif;
  padding: 0 100px 0 0;
}
.section-1 .view {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  margin: 30px 0 0;
  background-color: #d4b2b3 !important;
  padding: 10px 30px;
  font-size: 16px;
}
.view:hover {
  cursor: pointer;
  background: #f1c5c7;
  border: 1px solid #d4b2b3;
}
.section-2 {
  height: 512px;
  width: 505px;
  padding: 0 20px;
}

.divide {
  display: flex;
}
.box {
  border: 5px solid transparent;
  padding: 18px 17px;
  margin: 10px 0;
}
.box img {
  border-radius: 20px;
}
