@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Notable&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,200;0,300;0,400;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  line-height: 1.5;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

li,
a {
  font-family: serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 15px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  font-weight: bolder;
}
.head-section {
  display: flex;
  justify-content: flex-end;
  font-family: Verdana, sans-serif !important;

  align-items: center;
  letter-spacing: 4px;
  color: #000 !important;
  background-color: #fff !important;
  padding: 8px 16px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  cursor: pointer;
  margin-right: auto;
  padding: 8px 20px;
}
.logo:hover {
  background: #dddbdb;
  color: black;
  cursor: pointer;
}
.nav_links {
  list-style: none;
  letter-spacing: 4px;
}
.nav_links li {
  display: inline-block;
  padding: 8px 20px;
  letter-spacing: 4px;
}
.nav_links li:hover {
  background: #dddbdb;
  color: black;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

/* button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
} */
/* ----------------------- */
/* main */

.image {
  background-position: center;
  background-size: cover;
  width: 1500px;

  height: 800px;
  margin-left: 10px;
  margin-right: 10px;
}
.content {
  margin-top: 59px !important;
  /* margin-left: 20px; */
  text-align: center !important;
  position: absolute;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 1.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content .content-heading {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px !important;
  color: #fff !important;
  letter-spacing: 4px;
  line-height: 1.5;
}
.content-heading .br {
  color: #fff !important;
  background-color: #000 !important;
  padding: 8px 16px !important;
  opacity: 0.75;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
.content-heading .architect {
  font-size: 36px !important;
}
/* ---------------------- */
/* container */
.container {
  padding: 8px 16px !important;
}
/* ------------- */
.project {
  padding-top: 32px;

  font-size: 15px;
  line-height: 1.5;
}
.project-h3 {
  padding-left: 16px;
  border-color: #f1f1f1 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #ccc !important;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1.5;
}
.project-content {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 32px;
  padding-left: 8px;
}
.boxes {
  margin: 0 0 16px 0;
  padding: 0 8px;
}

.boxes .box-1 {
  position: relative;
}
.summer {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 16px !important;
  color: #fff !important;
  background-color: #000 !important;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/* ---------- */
.about-para {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 0;
  padding-left: 16px;
}

.project-boxes {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 32px;
  filter: grayscale(75%);
  padding-left: 16px;
}
.box {
  /* padding: 0 8px; */
}
.box img {
  vertical-align: middle;
}
.box h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1.5;
}
.box .opacity {
  /* font-family: Verdana, sans-serif; */
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.6;
  margin: 15px 0;
}

.project-para {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 0;
  text-align: left;
}
.project-para button {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  border: none;
  width: 100%;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
}
.padding {
  padding-right: 10px;
}
/* ------------------------------------------------- */
/* contact */
.contact {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.contact h3 {
  padding-left: 16px;
  border-color: #f1f1f1 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #ccc !important;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1.5;
}
.contact p {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 0;
  text-align: left;
  padding-left: 16px;
}
form {
  padding-left: 16px;
  height: 294px;
  width: 1455px;
}
form input {
  border: 1px solid #ccc !important;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
.margin {
  margin-top: 20px !important;
  margin-bottom: 16px !important;
}
.margin button {
  padding: 8px 16px;
  color: #fff !important;
  background-color: #000 !important;
  text-align: center;
  cursor: pointer;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  height: 38.5px;
  border: none;
}
.map {
  padding-left: 16px;
}
.footer {
  color: #fff !important;
  background-color: #000 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  text-align: center !important;
  height: 84px;
}
.footer p {
  padding: 16px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.footer p a {
  color: white;
  border-bottom: 1px solid grey;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
}
